[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
futures = "0.3.31"
serde = "1.0.228"
serde_json = "1.0.149"
tokio = { version = "1.40", features = ["full"] }
